{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000
  },
  "gpus": [ 
    { "vram": 40960 } 
  ],
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/app/model.sh"
        ],
        "Image": "noryev/ollama-3.3-70b-instruct-cli-module@sha256:37742c0bbe39885e7e1cdd613056b8d7335dd584d976352c2f96794290c008a7",
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "40Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}